$backgroundColor: #5abdab;
$positiveColor: #66f28a;
$negativeColor: #f58c91;
$mainDarkColor: #f5b25b;
$secondaryBrightColor: #7fcbf5;

* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: $backgroundColor;
  min-height: 100vh;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: cursive;
  color: tomato;
}
