.history {
  display: flex;
}
.done,
.canceled {
  width: 50%;
  display: flexbox;
  flex-wrap: wrap;
  margin: 10px;
}
.history-orders {
  display: flex;
  flex-wrap: wrap;
}
.history-items {
  border: 2px solid white;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding-bottom: 20px;
  margin: 5px;
  height: 50vh;
}
