@import "../App/App.scss";

nav {
  background-color: $mainDarkColor;
  justify-content: center;
  position: relative;
  color: $secondaryColor;
  height: 2.5rem;
  padding-top: 10px;
  top: 0;
  // width: 100%;
}
.link-button {
  background-color: $negativeColor;
  border-radius: 0.5rem;
  color: white;
  padding: 3px;
  font-weight: 700;
}
.nav-link {
  margin-right: 3px;
  color: $secondaryColor;
  font-size: 2rem;
  text-decoration: none;
}
.nav-link::before,
.nav-link::after {
  content: "|";
}
.nav-link:hover {
  transform: scaleY(1.5); //need to fix
  color: #198ac7;
}
#restaurant-name {
  align-self: flex-start;
  position: absolute;
  align-content: flex-start;
  display: inline-flex;
  left: 10px;
  font-size: 1.5rem;
  font-weight: 800;
}
#buttons {
  align-self: flex-start;
  position: absolute;
  align-content: flex-start;
  display: inline-flex;
  right: 10px;
}
#stand-details {
  background-color: $mainBrightColor;
  color: black;
  border: 1px solid black;
}
