@import "../App/App.scss";

@mixin inputs {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  background-color: $secondaryColor;
  box-shadow: 1px 1px 1px #416d85;
  border-radius: 0.5rem;
  font-weight: 800;
  width: 80%;
}
@mixin buttons {
  font-weight: 600;
  box-shadow: 1px 1px 1px $mainDarkColor;
  color: black;
  border-radius: 0.5rem;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
}

.item {
  position: relative;
  display: flexbox;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 7px;
  font-size: 2rem;
  color: black;
  max-width: 20vw;
}
.item-info {
  display: flexbox;
}
.item-notes {
  @include inputs();
  font-size: 1rem;
  font-family: $contentFontFamily;
}
.item-notes::placeholder {
  color: $background;
  font-weight: 800;
  text-align: center;
}
.item-order {
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: $positiveColor;
  @include buttons();
}
.item-name {
  text-decoration: underline;
}
.item-price {
  font-size: 1.5rem;
}
.item-price::after {
  content: "₪";
}
.item-props {
  justify-self: center;
  max-width: 20vw;
}
.item-description {
  font-weight: 100;
}
svg.count-button {
  font-size: 1.5rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}
.positive {
  background-color: $positiveColor;
}
.negative {
  background-color: $negativeColor;
}

.order {
  position: fixed;
  left: 5px;
  top: 3rem;
  overflow: auto;
  height: 95%;
  // width: fit-content;
  max-width: 15vw;
  .order-info {
    color: white;
  }
}

.main-header {
  display: block;
  color: $mainDarkColor;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px white;
  // justify-self: center;
}
.secondary-header {
  color: $mainBrightColor;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
}
.cancel {
  background-color: $negativeColor;

  @include buttons();
}
.delete-button {
  position: absolute;
  top: 0;
  left: 0;
  @include buttons();
  width: auto;
  background-color: $negativeColor;
}
.checkbox {
  cursor: pointer;
}
.checkboxes {
  text-align: start;
  margin-left: 3px;
  font-size: 1.5rem;
}
.small {
  font-size: 1rem;
}
#menu-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 1300px) {
  #menu-items {
    justify-content: flex-end;
  }
  .order {
    max-width: 25vw;
  }
}
#drinks {
  display: flex;
  flex-direction: row;
}
#breaker {
  padding-bottom: 15px;
}
#order-name {
  @include inputs();
  font-size: 1rem;
  margin-bottom: 5px;
}
#order-name::placeholder {
  color: rgba(0, 0, 0, 0.438);
  font-weight: 800;
  text-align: center;
}
#set-order {
  background-color: $positiveColor;
  @include buttons();
}
#this-order {
  justify-content: center;
}
