@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Heebo:wght@600&family=Montserrat:wght@900&family=Paytone+One&family=Tienne&family=Vesper+Libre:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.stand-app {
  background-color: #dddddd;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Archivo Black", "Heebo", serif;
}

h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  font-family: "Montserrat", "Heebo", sans-serif;
  color: #f5a962;
}

button {
  cursor: pointer;
  font-family: #f5a962;
}

input[type="radio"] {
  cursor: pointer;
}

.item {
  position: relative;
  display: flexbox;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin: 7px;
  font-size: 2rem;
  color: black;
  max-width: 20vw;
}

.item-info {
  display: flexbox;
}

.item-notes {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  background-color: #f5a962;
  -webkit-box-shadow: 1px 1px 1px #416d85;
          box-shadow: 1px 1px 1px #416d85;
  border-radius: 0.5rem;
  font-weight: 800;
  width: 80%;
  font-size: 1rem;
  font-family: "Archivo Black", "Heebo", serif;
}

.item-notes::-webkit-input-placeholder {
  color: #dddddd;
  font-weight: 800;
  text-align: center;
}

.item-notes:-ms-input-placeholder {
  color: #dddddd;
  font-weight: 800;
  text-align: center;
}

.item-notes::-ms-input-placeholder {
  color: #dddddd;
  font-weight: 800;
  text-align: center;
}

.item-notes::placeholder {
  color: #dddddd;
  font-weight: 800;
  text-align: center;
}

.item-order {
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  background-color: #03b42c;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 1px #125d98;
          box-shadow: 1px 1px 1px #125d98;
  color: black;
  border-radius: 0.5rem;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
}

.item-name {
  text-decoration: underline;
}

.item-price {
  font-size: 1.5rem;
}

.item-price::after {
  content: "₪";
}

.item-props {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 20vw;
}

.item-description {
  font-weight: 100;
}

svg.count-button {
  font-size: 1.5rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

.positive {
  background-color: #03b42c;
}

.negative {
  background-color: #f58c91;
}

.order {
  position: fixed;
  left: 5px;
  top: 3rem;
  overflow: auto;
  height: 95%;
  max-width: 15vw;
}

.order .order-info {
  color: white;
}

.main-header {
  display: block;
  color: #125d98;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px white;
  -ms-grid-column-align: center;
      justify-self: center;
}

.secondary-header {
  color: #3c8dad;
  text-shadow: 1px 1px 1px black;
  font-size: 2rem;
}

.cancel {
  background-color: #f58c91;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 1px #125d98;
          box-shadow: 1px 1px 1px #125d98;
  color: black;
  border-radius: 0.5rem;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
}

.delete-button {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 1px #125d98;
          box-shadow: 1px 1px 1px #125d98;
  color: black;
  border-radius: 0.5rem;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
  width: auto;
  background-color: #f58c91;
}

.checkbox {
  cursor: pointer;
}

.checkboxes {
  text-align: start;
  margin-left: 3px;
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}

#menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 1300px) {
  #menu-items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .order {
    max-width: 25vw;
  }
}

#drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#breaker {
  padding-bottom: 15px;
}

#order-name {
  margin-top: 2px;
  margin-bottom: 2px;
  color: white;
  background-color: #f5a962;
  -webkit-box-shadow: 1px 1px 1px #416d85;
          box-shadow: 1px 1px 1px #416d85;
  border-radius: 0.5rem;
  font-weight: 800;
  width: 80%;
  font-size: 1rem;
  margin-bottom: 5px;
}

#order-name::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.438);
  font-weight: 800;
  text-align: center;
}

#order-name:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.438);
  font-weight: 800;
  text-align: center;
}

#order-name::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.438);
  font-weight: 800;
  text-align: center;
}

#order-name::placeholder {
  color: rgba(0, 0, 0, 0.438);
  font-weight: 800;
  text-align: center;
}

#set-order {
  background-color: #03b42c;
  font-weight: 600;
  -webkit-box-shadow: 1px 1px 1px #125d98;
          box-shadow: 1px 1px 1px #125d98;
  color: black;
  border-radius: 0.5rem;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
}

#this-order {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=Menu.css.map */