@import "../App/App.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap");
@mixin button-props {
  border-radius: 0.5rem;
  padding: 2px;
  font-weight: 550;
  color: white;
  font-family: $buttonFontFamily;
}
.stand-creator {
  min-height: 100vh;
  background: url("../../../logo.png") no-repeat center center/60vh 60vh fixed;
}
.create-stands {
  display: flex;
  flex-direction: column;
  margin-right: 10vh;
  align-self: flex-end;
}
.existing-stands {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
}
.stand-inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: $contentFontFamily;
}
.login-prop {
  margin: 2px;
  padding: 2px;
  color: black;
  font-weight: 700;
  background-color: $secondaryColor;
  box-shadow: 1px 1px 1px $mainDarkColor;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.stand-name {
  color: black;
  font-size: 2rem;
  text-shadow: 1px 1px 1px white;
}
.show-password {
  background-color: $mainDarkColor;
  @include button-props();
}
.stand-login {
  background-color: $positiveColor;
  @include button-props();
  font-size: 1.5rem;
  margin-top: 5px;
}
.stand-delete {
  background-color: $negativeColor;
  @include button-props();
  font-size: 1.5rem;
  margin-top: 5px;
}
.stand-controls {
  margin-top: 15px;
}
#open-stand {
  @include button-props();
  font-size: 1.5rem;
  margin-top: 5px;
  background-color: $positiveColor;
}
#logo {
  height: 300px;
  width: 300px;
}
#stands {
  // margin-top: 300px;
  align-content: center;
  display: flex;
  justify-content: space-between;
}
#header {
  font-size: 8rem;
  color: $mainDarkColor;
  font-family: "Lobster Two", cursive;
}
