@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat:wght@900&family=Paytone+One&family=Tienne&family=Vesper+Libre:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Montserrat:wght@900&family=Paytone+One&family=Tienne&family=Vesper+Libre:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #dddddd;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Tienne", "Heebo", serif;
}

h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px black;
  font-family: "Montserrat", "Heebo", sans-serif;
  color: #f5a962;
}

button {
  cursor: pointer;
  font-family: #f5a962;
}

input[type="radio"] {
  cursor: pointer;
}

.stand-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.create-stands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vh;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.existing-stands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10vh;
}

.stand-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Tienne", "Heebo", serif;
}

.login-prop {
  margin: 2px;
  padding: 2px;
  color: black;
  font-weight: 700;
  background-color: #f5a962;
  -webkit-box-shadow: 1px 1px 1px #125d98;
          box-shadow: 1px 1px 1px #125d98;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.stand-name {
  color: black;
  font-size: 2rem;
  text-shadow: 1px 1px 1px white;
}

.show-password {
  background-color: #125d98;
  border-radius: 0.5rem;
  padding: 2px;
  font-weight: 550;
  color: white;
  font-family: "Paytone One", sans-serif;
}

.stand-login {
  background-color: #03b42c;
  border-radius: 0.5rem;
  padding: 2px;
  font-weight: 550;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 1.5rem;
  margin-top: 5px;
}

.stand-delete {
  background-color: #f58c91;
  border-radius: 0.5rem;
  padding: 2px;
  font-weight: 550;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 1.5rem;
  margin-top: 5px;
}

.stand-controls {
  margin-top: 15px;
}

#open-stand {
  border-radius: 0.5rem;
  padding: 2px;
  font-weight: 550;
  color: white;
  font-family: "Paytone One", sans-serif;
  font-size: 1.5rem;
  margin-top: 5px;
  background-color: #03b42c;
}
/*# sourceMappingURL=StandCreator.css.map */