@import "../App/App.scss";

.customer-name {
  color: black;
}
.items {
  display: flex;
  flex-direction: column;
  margin: 7px;
  font-size: 1rem;
  color: black;
  padding-bottom: 15px;
  min-height: 40vh;
  max-height: 50vh;
}
.drink-invites,
.dish-invites {
  display: flex;
  flex-direction: column;
}
.orders {
  display: flex;
  flex-wrap: wrap;
}
.order-details {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  margin: 7px;
  margin-top: 0;
  font-size: 1rem;
  color: black;
  .total-price::after {
    content: "₪";
  }
}
.register-order {
  border: 2px solid white;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding-bottom: 20px;
  margin: 5px;
  max-height: 50%;
}
.cancel-button {
  bottom: 0;
  position: absolute;
  width: 100%;
  font-weight: 800;

  background-color: $negativeColor;

  font-size: 1rem;
  padding: 5px;
  box-shadow: 1px 1px 1px $mainDarkColor;
  color: white;
  border-radius: 0.5rem;
}
.invite {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid grey;
  border-radius: 0.5rem;
  margin-bottom: 5px;
  .item-details {
    display: flexbox;
    width: 80%;
  }
  .item-amount {
    left: 0;
    position: absolute;
  }

  .total-item-price::after {
    content: "₪";
  }
}
.small-price {
  font-size: 0.7rem;
}
.small-price::after {
  content: "₪)";
}
.small-price::before {
  content: "(";
}
