$mainColor: #fa923f;
$secondaryColor: #0995ad;
$mainBrightColor: #ffa459;
$mainDarkColor: #ad5c1a;
$secondaryBrightColor: #75e7fa;

.customer-name {
  color: white;
}
.items {
  display: flex;
  flex-direction: column;
  margin: 7px;
  font-size: 1rem;
  color: white;
  padding-bottom: 15px;
}
.drink-invites,
.dish-invites {
  display: flex;
  flex-direction: column;
}
.orders {
  display: flex;
}
.order-details {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  bottom: 0;
  margin: 7px;
  margin-top: 0;
  font-size: 1rem;
  color: white;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  align-content: flex-end;
  justify-items: flex-end;
  justify-self: flex-end;

  //   position: absolute;
  //   display: inline-flex;
}
.register-order {
  border: 2px solid white;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding-bottom: 20px;
  margin: 5px;
  max-height: 50%;
}
.cancel-button {
  bottom: 0;
  position: absolute;
  width: 100%;
  font-weight: 800;
  background-color: $mainBrightColor;
  font-size: 1rem;
  padding: 5px;
  box-shadow: 1px 1px 1px $mainDarkColor;
  color: white;
  border-radius: 0.5rem;
}
.invite {
  .item-amount {
  }
}
